[run]
source =
    src
relative_files = true
data_file = tools/start-tests/.coverage
omit =
    tests/*
    src/maven_check_versions/__main__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
